{% extends "base.html"  %}

{% block title   %}

Registered patients

{% endblock %}


{%  block content %}

<h1><center>Doctor details</center></h1><hr><hr>
 <ul>
   
               
                   name:{{ users.doctor.username }}<br>
                   doctor_name :{{ users.doctor_name }}<br>
                   Specialization :{{ users.specialization }}<br>
                   mobile_no :{{ users.mobile_no }}<br>
                   Email:{{ users.doctor.email }}<br>
                   medicine :{{ users.medicine }}<br>
                   address: {{users.address}}<br>
                   <image src= "/media/{{ users.img_upload }}" height = "200" width = "200">

                  
                   
                   
                   
    
<br><br><br>


           </ul>

<br><br><br><br><br>

       {% if request.user.is_staff %}

      <a href = "/patients/remove/{{ users.id }}">delete user</a>

           {% endif %}

       <center><h2><i><a href="/">Back to home Page</a></i></h2></center><br>


{% endblock  %}

