{% extends "base.html" %}

{% block title   %}

Home page

{% endblock  %}

{% block content %}

  <u><b><center><a>check the details of  the doctors  you can contact</a></center></u></b>
<ul>
   {%  for post in users %}
        <br><br>
       Doctor_name: &nbsp<a href = "/patients/doctorhome/{{ post.id }}"> {{ post.doctor_name }}</a> &nbsp &nbsp Specialization:&nbsp{{ post.specialization }}

    {%  endfor %}

</ul>

<br><br><br>
<a href = "/patients/beneficiar">BLOOD REQUIRED </a>
<br><br><br><br><br>

<a href = "/patients/reset">change password </a>



{% endblock  %}

