{% extends "base.html" %}

{% block title   %}

Home page

{% endblock  %}

{% block content %}

  <u><b><center><a>check the details of  the doctors  you can contact</a></center></u></b>
<ul>
   {%  for post in users %}
        <br><br>
       Doctor_name: &nbsp<a href = "/patients/doctorhome/{{ post.id }}"> {{ post.doctor_name }}</a> &nbsp &nbsp Specialization:&nbsp{{ post.specialization }}

    {%  endfor %}

</ul>



<br><br><br><br><br><br><br><br>
{% if request.user.is_authenticated %}
<a href = "/patients/beneficiar">Blood required </a>
<br><a href = "/patients/reset">change password </a><br>
<a href = "/patients/list">upload a file </a><br>
<a href = "{% url patients.views.search %}">Search Doctor  by Address or Specialization</a><br>
<a href = "/patients/ask">Ask Your Question </a><br>
<a href = "/patients/prob">Go to the forum</a>

{% endif %}

{% endblock  %}

